.navholder2 {
    width: 1200px;
    height: 60px;
    background-color: indigo;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.nav_title {
    position: absolute;
    left: 20px;
    top: 0;
    width: 400px;
}

.nav_title p {
    font-size: 20px;
    color: white;
    line-height: 20px;
}

.navmain {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

.nav2 {

}

.nav2 li {
    display: inline-block;
    text-align: center;
}

.nav2 li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-left: 1px solid red;

}

.nav2 li a:hover {
    color: red;
}

.search-holder {
    width: 250px;
    padding-left: 25px;
    height: 30px;

}

.search-input {
    width: 225px;
    height: 25px;
    background-color: white;
    border-radius: 15px;

}

.search-input input {
    border-radius: 0 15px 15px 0;
    height: 25px;
    width: 195px;
    border: none;
    display: inline-block;

}
.search-input .search-icon {
    border-radius:15px  0 0 15px;
    width: 30px;
    display: inline-block;
}

